<a href="https://colab.research.google.com/github/JuanSCalderon/MinTic/blob/main/Modulo01_Grupo11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola MINTIC")
print("12+2")
print(12+2)
print('Hola MINTIC')

Hola MINTIC
12+2
14
Hola MINTIC

In [ ]:
print("Hola MINTIC")
print("Hola MINTIC")
print("Hola MINTIC")
print("Hola MINTIC")
print("Hola MINTIC")

Hola MINTIC
Hola MINTIC
Hola MINTIC
Hola MINTIC
Hola MINTIC

In [ ]:
print("Hola MINTIC "+"Hola MINTIC")

Hola MINTIC Hola MINTIC

In [ ]:
texto = "Hola MINTIC" # cadena de caracteres: string (str)
edad = 15 # número entero: integer (int)

In [ ]:
Edad = 44

In [ ]:
print(edad)
print(Edad)

15
44

In [ ]:
print(texto)

Hola MINTIC

In [ ]:
nombre, apellido = "Cesar", "Quintero"

print(nombre + apellido)
print(nombre, apellido)
print(32+2)
print(32,2)
print(edad + Edad)
print(edad, Edad) 
print(nombre, edad)
# print(nombre + edad) No se puede ejecutar

CesarQuintero
Cesar Quintero
34
32 2
59
15 44
Cesar 15

In [ ]:
print(nombre + apellido, Edad)

CesarQuintero 44

In [ ]:
texto = "Hola MINTIC" # cadena de caracteres: string (str)
edad = 15 # número entero: integer (int)
pi = 3.141592 # número real: float (float)
B = True # boleano (bool)

In [ ]:
print(type(texto))
print(type(edad))
print(B)

<class 'str'>
<class 'int'>
True

In [ ]:
type(35e3)
12E3

12000.0

In [ ]:
num1 = 3
num2 = "3"
num3 = int("3")
num1 + num3

6

In [ ]:
print('|  "  |')

|  "  |

Bicondicional: si y solo si.

Condicional: si... entonces...

si ANTECEDENTE entonces CONSECUENTE

si estudio para el parcial entonces paso el parcial.

si CONDICIÓN:
    INSTRUCCIONES 1
CONTINUACIÓN CON EL CÓDIGO.

si CONDICIÓN:
    INSTRUCCIONES 1
si no:
    INSTRUCCIONES 2
CONTINUACIÓN CON EL CÓDIGO.

In [ ]:
# OPERADORES ARITMÉTICOS.
print(2 + 3)
print(4 * 5)
print(20 / 6)
print("Módulo, operador %:")
print(10 % 3)
print("Potenciación, operador **:")
print(2 ** (2 ** 2))
print("División entera, operador //")
print(10 // 3)

5
20
3.3333333333333335
Módulo, operador %:
1
Potenciación, operador **:
16
División entera, operador //
3

In [ ]:
# OPERADORES DE ASIGNACIÓN.
x = 5
print("x = ",x)
x = x + 1
print("x + 1 = ",x)
x = 5
print("x = ",x)
x += 1
print("x += 1: ",x)
x **= 2  # x = 36
x = x ** 2 # 1296
x

x =  5
x + 1 =  6
x =  5
x += 1:  6

1296

In [ ]:
x = 100
print(x * 0.05)
print(x * 5/100)

5.0
5.0

In [ ]:
# OPERADORES DE COMPARACIÓN 
print("x = 3")
x = 3
print(x)
print("x es igual a 4?:")
print(x == 4)
print("x NO es igual a 3?:")
print(x != 3)
print("x es mayor que 2?:")
print(x > 2)
print("x es menor que 3?:")
print(x < 3)
print("x es menor o igual a 3?:")
print(x <= 3)

x = 3
3
x es igual a 4?:
False
x NO es igual a 3?:
False
x es mayor que 2?:
True
x es menor que 3?:
False
x es menor o igual a 3?:
True

In [ ]:
# OPERADORES LÓGICOS.
print("and:")
print((x > 2) and (x <= 3))
print((x < 2) and (x > 2))
print(True and False)
print(False and False)
print("or:")
print(True or False)
print(False or False)

and:
True
False
False
False
or:
True
False

In [ ]:
# OPERADORES DE IDENTIDAD:
x = 3
print("x == 3?:")
print(x == 3)
print("x es igual a 3?")
print(x is 3)
x = "a"
print("x = 'a'")
print("x es igual a la letra 'a'?")
print(x is "a")
print("x no es igual a la letra 'a'?:")
print(x is not "a")

x == 3?:
True
x es igual a 3?
True
x = 'a'
x es igual a la letra 'a'?
True
x no es igual a la letra 'a'?:
False

In [ ]:
# OPERADORES DE PERTENENCIA:
x = "abcdef"
print(x)
print("la letra 'a' está en x?:")
print("a" in x)
print("la letra 'z' NO está en x?:")
print("z" not in x)

abcdef
la letra 'a' está en x?:
True
la letra 'z' NO está en x?:
True

In [ ]:
# OPERADORES BITWISE
print(" and &:")
print(1 & 1)
print(1 & 0)
print(0 & 1)
print(0 & 0)
print("or |:")
print(1 | 1)
print("negación: 1-x")
print(1-1)
print(1-0)

 and &:
1
0
0
0
or |:
1
negación: 1-x
0
1

In [ ]:
print("XOR: ^")
print(0^0)
print(1^0)

XOR: ^
0
1

In [ ]:
pow(4,1/2)
4 ** (1/2)
import math
math.sqrt(4)

2.0

In [ ]:
from math import *
sqrt(4)

2.0

In [ ]:
x = ["23","45", 45]
int(x[1])

45

In [ ]:
valor = input("Ingrese valor: ")

Ingrese valor: 23 45

In [ ]:
valor = valor.split(" ")

In [ ]:
valor = list(valor)

In [ ]:
int(valor[0])

23

In [ ]:
var1, var2, var3 = input().split()

12 3 4

In [ ]:
float(var3) + 2

6.0

In [ ]:
print(round(3.141592,1))

3.1