<a href="https://colab.research.google.com/github/JuanSCalderon/MinTic/blob/main/Modulo5_Grupo11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Recursión.

In [ ]:
def cuenta_reg(n):
  print(n)
  if n <= 0:
    return
  else:
    cuenta_reg(n-1)

cuenta_reg(5)

5
4
3
2
1
0

In [ ]:
# Factorial:
def facto(n):
  if n <= 1:
    return 1
  else:
    return n*facto(n-1)

facto(4)

24

In [ ]:
# Palindromo
W = "civic"
print(W)
print(W[::-1])
W == W[::-1]

civic
civic

True

# Excepciones

In [ ]:
A = input("Ingrese valor: ")
try:
  B = int(input("Ingrese otro valor: "))
  print(A+B)
except ValueError:
  print("Error de valor.")
except TypeError:
  A = int(A)
  print(A + 3)
else:
  print("ERROR.")

Ingrese valor: 3
Ingrese otro valor:
Error de valor.

In [ ]:
try:
  raise ValueError("Se ha cometido un error de valor.")
except ValueError as e:
  print("ERROR: ", e)

print("Continuar con la ejecucióon del resto del código...")

ERROR:  Se ha cometido un error de valor.
Continuar con la ejecucióon del resto del código...

In [ ]:
class MyError(Exception):
  ""
try:
  x = int(input("Ingrese valor mayor a 200: "))
  if x <= 200:
    raise MyError("Error por digitar un número menor a 200.")
  print("Continua normal. To bn...")
except MyError as e:
  x = 201
  print("ERROR:", e)

print("Continuar con la ejecucióon del resto del código...")

Ingrese valor mayor a 200: 4
ERROR: Error por digitar un número menor a 200.
Continuar con la ejecucióon del resto del código...

In [ ]:
x = [1, 2, 3, 4]
x.append(5)
print(x)

[1, 2, 3, 4, 5]

In [ ]:
class Repo:
  def imprime(self):
    print("Esta es la clase 'Repo' y el método 'imprime'.")

E = Repo()
E.imprime()

Esta es la clase 'Repo' y el método 'imprime'.

In [ ]:
nombre = input("Nombre del archivo a abrir: ")
nombre = nombre + ".txt"
print(nombre)
try:
  open(nombre)
except:
  print("No se pudo abrir archivo.")

Nombre del archivo a abrir: tarea
tarea.txt
No se pudo abrir archivo.

# Persistencia de datos.

In [ ]:
# LECTURA DE DATOS DE UN ARCHIVO. (1)
# 1. Abrir archivo.
archivo = open("/content/vtainternet.txt", 'r')
# 2. Leer la información.
for linea in archivo:
  print(linea[:-1], end=", ")  
# 3. Cerrar el archivo.
archivo.close()

12, 29, 33, 36, 22, 41, 18, 40, 3,

In [ ]:
# LECTURA DE DATOS DE UN ARCHIVO. (2. readline)
# 1. Abrir archivo.
archivo = open("/content/vtainternet.txt", 'r')
# 2. Leer la información.
linea = archivo.readline()
while linea != "":
  print(linea[:-1], end=", ")
  linea = archivo.readline()
# 3. Cerrar el archivo.
archivo.close()

12, 29, 33, 36, 22, 41, 18, 40, 3,

In [ ]:
len(list(archivo))

0

# Reto 5

In [ ]:
def leer_datos():
  oper = input()
  prod = input().split()
  prod[0] = int(prod[0])
  prod[2] = float(prod[2])
  prod[3] = int(prod[3])
  return oper, prod

def agregar(dicci, prod):
  if prod[0] in dicci:
    return dicci, False
  dicci[prod[0]] = prod[1:]
  return dicci, True

def actualiza(dicci, prod):
  if prod[0] in dicci:
    dicci[prod[0]] = prod[1:]
    return dicci, True
  return dicci, False

def pmayor(dicci):
  L = []
  for i in range(len(dicci)):
    L.append(list(dicci.values())[i][1])
  return list(dicci.values())[L.index(max(L))][0]

dicci = {1:	['Manzanas',	5000.0,	25],
2:	['Limones',	2300.0,	15],
3:	['Peras',	2700.0,	33],
4:	['Arandanos',	9300.0,	5],
5:	['Tomates',	2100.0,	42],
6:	['Fresas',	4100.0,	3],
7:	['Helado',	4500.0,	41],
8:	['Galletas',	500.0,	8],
9:	['Chocolates',	3500.0,	80],
10:	['Jamon',	15000.0,	10]
}

# Ingreso de datos:
oper, prod = leer_datos()
# AGREGAR, BORRAR O ACTUALIZAR:
if oper == 'AGREGAR':
  dicci, bandera = agregar(dicci, prod)
elif oper == 'BORRAR':
  print('BORRAR')
elif oper == 'ACTUALIZAR':
  #print('ACTUALIZAR')
  dicci, bandera = actualiza(dicci, prod)
else:
  print("ERROR")
# Encontrar valores solicitados:
pmax = pmayor(dicci)
# Imprimir los valores de salida:
if bandera:
  print(pmax)
else:
  print("ERROR")

BORRAR
14 Maiz 45000 12
BORRAR
Jamon

## Ingreso de datos o lectura de datos.

In [ ]:
oper = input()
prod = input().split()
prod[0] = int(prod[0])
prod[2] = float(prod[2])
prod[3] = int(prod[3])
print(prod)

ACTUALIZAR
11 Melón 70 21
[11, 'Melón', 70.0, 21]

In [ ]:
prod[0] in dicci
prod

[7, 'Helado', 65000.0, 11]

## AGREGAR Y ACTUALIZAR:

In [ ]:
dicci[11] = ['pera', 2000, 9]
dicci
prod[0]
prod[1:]
prod
dicci[prod[0]] = prod[1:]

[7, 'Helado', 65000.0, 11]

In [ ]:
dicci

{1: ['Manzanas', 5000.0, 25],
 2: ['Limones', 2300.0, 15],
 3: ['Peras', 2700.0, 33],
 4: ['Arandanos', 9300.0, 5],
 5: ['Tomates', 2100.0, 42],
 6: ['Fresas', 4100.0, 3],
 7: ['Helado', 65000.0, 11],
 8: ['Galletas', 500.0, 8],
 9: ['Chocolates', 3500.0, 80],
 10: ['Jamon', 15000.0, 10]}

## Producto con el precio mayor:

In [ ]:
L = []
for i in range(len(dicci)):
  L.append(list(dicci.values())[i][1])
print(L)
print(list(dicci.values())[L.index(max(L))][0])
dicci

[5000.0, 2300.0, 2700.0, 9300.0, 2100.0, 4100.0, 65000.0, 500.0, 3500.0, 15000.0]
Helado

{1: ['Manzanas', 5000.0, 25],
 2: ['Limones', 2300.0, 15],
 3: ['Peras', 2700.0, 33],
 4: ['Arandanos', 9300.0, 5],
 5: ['Tomates', 2100.0, 42],
 6: ['Fresas', 4100.0, 3],
 7: ['Helado', 65000.0, 11],
 8: ['Galletas', 500.0, 8],
 9: ['Chocolates', 3500.0, 80],
 10: ['Jamon', 15000.0, 10]}